body {
  margin: 0;
  font-family: "Georgia", serif;
  background: #1b1f17;
  color: #e6e2d3;
  padding-top: 49px; /* высота меню */
}

/* NAV */
nav {
  position: fixed;   /* фиксируем */
  top: 0;            /* сверху */
  left: 0;
  width: 100%;       /* на всю ширину */
  z-index: 1000;     /* поверх всего */



  background: #2f3a24;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #556b2f;
}

nav a {
  color: #c2b280;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

/* HEADER */
header {
  background-image: url('../images/backgraund.png') center/cover no-repeat;;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

header div {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 3.5rem;
  letter-spacing: 3px;
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #c2b280;
}

/* SECTIONS */
section {
  padding: 60px 10%;
}

section h2 {
  color: #b5a76c;
  border-bottom: 2px solid #556b2f;
  display: inline-block;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #2a2f21;
  padding: 25px;
  border: 1px solid #556b2f;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  background: #343c2a;
  transform: translateY(-5px);
}

.card h3 {
  color: #d2c48c;
}

/* FOOTER */
footer {
  background: #11140f;
  text-align: center;
  padding: 20px;
  color: #7f8c5a;
  font-size: 0.9rem;
}

/* BUTTON */
button {
  background: #556b2f;
  color: #fff;
  border: none;
  padding: 12px 25px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background: #6b8e23;
}
